example.hostname=127.0.0.1
example.port=8880
example.username=admin
example.password=secret
example.securityenabled=true
example.truststore=/was/was61/profiles/example/etc/DummyClientTrustFile.jks
example.keystore=/was/was61/profiles/example/etc/DummyClientKeyFile.jks
example.truststorepassword=secret
example.keystorepassword=secret